*, *:after, *:before {
  box-sizing: border-box;
}

body {
}

/*----------------------- header ---------------------------*/
header {
	width: 100%;
	margin: 0 auto;
	background-color: #D3D3D3;
	/*position: fixed;*/
}

header h1 {
	text-align: center;;
}

/*------------------------ search --------------------------*/

#search div {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#search p {
	text-align: center;
}

#inputFinder {
	
}

/*------------------------ masonry ---------------------------*/
.grid-item { 
	width: 240px;
}

.grid-item--width2 { width: 400px; }



/*------------------------ results --------------------------*/

#results {
	max-width: 1200px;
}

.gallery-image {
	cursor: pointer;

}

.gallery-image:hover {
	opacity: 0.7;

}

.gallery-modal {
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5em;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
}

.image-big {

}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}


