*, *:after, *:before {
  box-sizing: border-box;
}

body {
}

.hidden {
	display: none;
}


/*----------------------- header ---------------------------*/
header {
	width: 100%;
	margin: 0 auto;
	background-color: #D3D3D3;
	/*position: fixed;*/
}

header h1 {
	text-align: center;;
}

/*------------------------ search --------------------------*/

#search div {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#search p {
	text-align: center;
}

#inputFinder {
	
}
